{extend name="layout/that_base"}

<link href="lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />

{block name="body"}
<div class="page-container">
	<form  class="form form-horizontal" id="form_course_add">

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>授课老师姓名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder=""  name="teacher_user" >
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>身份证信息：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder=""  name="tea_sid" id="tea_sid">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" value="" placeholder=""  name="reacher_pwd">
			</div>
		</div>

		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
			</div>
		</div>

	</form>
</div>
{/block}

{block name="footer"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__HUI__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__HUI__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__HUI__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
	function article_save_submit(){
	    $("#form_course_add").validate({
            // focusInvalid : true,

			rules:{
                teacher_user:{
                    required:true,
                    rangelength:[2,6],
					remote:{
                        url:"{:url('course/tea_sid')}",
						type:"post",
						dataType:"josn",
						data:{
                            tea_sid: function() {
                                return $("#tea_sid").val();
                            }
						}
					}
                },
                tea_sid:{
                    required:true,
                    rangelength:[8,20]
				},
                reacher_pwd:{
                    required:true,
                    rangelength:[6,20]
                }
			},
			message:{
                teacher_user:{
                    required:"用户名必须填写",
                    rangelength:"请输入正确的用户名"
                },
                tea_sid:{
                    required:"用户名必须填写"
                },
                reacher_pwd:{
                    required:"请输入密码"
                }
			},
            submitHandler:function(form){
                var data = $(form).serialize();
                console.log(data);
                $(form).ajaxSubmit({
                    url:"{:url('course/course_add')}",
                    dataType:"json",
                    success:function(res){
                        alert(123);
                    }
                });

                /* $.ajax({
                     url:"{:url('course/course_add')}",
                     type:"POST",
                     dataType:"JSON",
                     data:data,
                     success: function(res){
                         console.log("成功"+res);
                     },
                     error: function(res){
                         console.log("失败"+res);
                     }
                 });*/
            },

		});

	}


</script>
{/block}