{extend name="layout/that_base"}

{block name="meta"}
<title>资讯列表</title>
{/block}

{block name="body"}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 学生模块 <span class="c-gray en">&gt;</span> 查看学生 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">

	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			&nbsp;
		</span> <span class="r">共有数据：<strong>54</strong> 条</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
				<tr class="text-c">
					<th width="25"><input type="checkbox" name="" value=""></th>
					<th width="50">ID</th>
					<th width="80">课程</th>
					<th width="80">授课老师</th>
					<th width="80">学生名称</th>
					<th width="120">上课时间</th>
					<th width="150">教师布置作业</th>
					<th width="150">学生提交作业</th>
					<th width="150">答案</th>
					<th width="120">操作</th>
				</tr>
			</thead>
			<tbody>
				{volist name="arr" id="vo" empty="还没有数据"}
				<tr class="text-c">
					<td><input type="checkbox" value="" name=""></td>
					<td>{$vo.stud_id}</td>
					<td class="text-c">{$vo.list_user}</td>
					<td>{$vo.teacher_user}</td>
					<td>{$vo.stud_user}</td>
					<td>{$vo.list_time}</td>
					<td>
						{if condition="$vo.tea_task_user eq '' "}
						<span class="label label-success radius">老师还没有上传作业</span>
						{else/}
							<a href="/uploads/{$vo.tea_task_add}" class="btn btn-primary radius"  download="{$vo.tea_task_user}" ><i class="Hui-iconfont"></i> {$vo.tea_task_user}</a>
						{/if}
					</td>
					<td>
						{if condition="$vo.tea_task_user neq '' "}
						<a href="/uploads/{$vo.tea_task_ans}" download="/uploads/{$vo.tea_task_ans}"><p style="float:left;line-height:30px;">{$vo.tea_task_ans}</p></a>
						<form style="float:right;margin-right:25px;" action="" enctype="multipart/form-data" >
                        <span class="btn-upload">
                          <a href="javascript:void();" class="btn btn-primary radius btn-upload"><i class="Hui-iconfont">&#xe642;</i> 重新上传</a>
                          <input type="file" multiple name="fileans" class="input-file" id="fileans" >
                        </span>
						</form>
						{else /}
						<a ><p style="float:left;line-height:30px;color:red;">您还没有上传答案</p></a>
						<form style="float:right;margin-right:25px;" action="" enctype="multipart/form-data" >
                        <span class="btn-upload">
                          <a href="javascript:void();" class="btn btn-primary radius btn-upload"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
                          <input type="file" multiple name="fileans" class="input-file" id="fileans" >
                        </span>
						</form>
						{/if}
					</td>
					<td class="td-status">
						{if condition="$vo.tea_task_ans eq '' "}
						<span class="label label-success radius">老师还没有上传作业答案</span>
						{else/}
						<a href="/uploads/{$vo.tea_ans_user}" class="btn btn-primary radius" download="{$vo.tea_task_ans}" ><i class="Hui-iconfont"></i> {$vo.tea_task_ans}</a>
						{/if}
					</td>
					<td class="f-14 td-manage"><a style="text-decoration:none" onClick="article_stop(this,'10001')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a> <a style="text-decoration:none" class="ml-5" onClick="article_edit('资讯编辑','article-add.html','10001')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5" onClick="article_del(this,'10001')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
				</tr>
				{/volist}

			</tbody>
		</table>
	</div>
</div>
{/block}

{block name="footer"}
<!--请在下方写此页面业务相关的脚本-->

<script type="text/javascript">

$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"pading":false,
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[0,{$arr|count}]}// 不参与排序的列
	]
});

/*资讯-添加*/
function article_add(title,url,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*资讯-编辑*/
function article_edit(title,url,id,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*资讯-删除*/
function article_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '',
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}

</script>
{/block}
